@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

/* ::-webkit-scrollbar {
    display: none;
} */

/* Customize font size for Ant Design table */
.ant-table {
  font-size: 15px; /* Adjust the font size as needed */
  padding-bottom: 20px;
  border-radius: 0;
}

/* You can target specific columns or cells if needed */
.ant-table-cell {
  font-size: 15px; /* Adjust the font size as needed */
  width: 100%;
  text-wrap: nowrap;
}

/* Or target specific columns */
.ant-table-column {
  font-size: 15px; /* Adjust the font size as needed */
  border-radius: 0;
}

.ant-table-thead > tr > th {
  background-color: #0094f1 !important;
  color: rgb(
    255,
    255,
    255
  ) !important; /* Optionally, adjust text color for better contrast */
  border-radius: 0 !important;
}

.ant-table-thead > tr > th::before {
  background-color: transparent !important;
}

/* Customize the gap between table header and body in Ant Design */
.ant-table .ant-table-thead {
  /* Adjust the bottom padding to create space */
  padding-bottom: 20px !important; /* Set your desired gap */
}

.ant-table .ant-table-tbody {
  /* Adjust the top margin to create space */
  margin-top: 20px !important; /* Set your desired gap */
}

.zebra-stripe {
  background-color: #e7edf0; /* Choose your desired background color */
}

.ant-table {
  border: 1px solid #00000042; /* Customize the border color and style */
}

.ant-table-cell {
  border: 1px solid #00000042; /* Customize the border color and style for cells */
}

.ant-table-header th {
  border: 1px solid #00000042; /* Customize the border color and style for header cells */
}

.servicesSwiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.3;
}

.servicesSwiper .swiper-pagination-bullet {
  @apply w-[10px] h-[10px] bg-[#AEAEAE] rounded-full;
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

.servicesSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#040404];
}

.testimonialsSwiper .swiper-button-prev,
.testimonialsSwiper .swiper-button-next {
  @apply text-[#8B8B8B];
}

.servicesFAQ {
  background: none;
  border: none;
}

.servicesFAQ .ant-collapse-item {
  border: none;
  margin-bottom: 20px;
}

.servicesFAQ .ant-collapse-item .ant-collapse-header {
  min-height: 61px;
  padding: 0 15px;
  background-color: #f0f7fe;
  border-radius: 0 !important;
  position: relative;
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.servicesFAQ .ant-collapse-item-active .ant-collapse-header {
  background-color: #0194f3;
  color: white;
}

.servicesFAQ .ant-collapse-header-text {
  font-size: 18px;
  line-height: 32px;
  user-select: none;
}

.servicesFAQ .ant-collapse-expand-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-65%);
}

.servicesFAQ .ant-collapse-item .ant-collapse-content {
  border-top: 0;
}

.servicesFAQ
  .ant-collapse-item
  .ant-collapse-content
  .ant-collapse-content-box {
  font-size: 18px;
  line-height: 32px;
  color: #222222;
  padding: 0;
  padding-top: 20px;
}

.ant-table-wrapper table {
  @apply !w-auto;
}

.ant-picker-dropdown,
.ant-select-dropdown {
  z-index: 999999999999 !important;
}

#section-to-print {
  visibility: hidden;
  height: 0;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    visibility: hidden;
  }
  section {
    height: 0;
  }
  #section-to-print {
    padding: 55px;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
  }
  .print-w-130px {
    width: 130px !important;
  }
}

.blink {
  background: black;
  width: 1px;
  height: 50%;
  display: block;
  animation: blink 0.6s linear infinite;
}
@keyframes blink {
  0% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 25%;
  }
}
